<html>
<head>
    <script type = "text/javascript" src="jquery-1.7.2.js"> </script>
</head>
<body>
 <script type = "text/javascript">
  $(function(){
  //  jQuery.getJSON('http://127.0.0.1:9000/hellojsonp?callback=?', function (data){
  //     console.log(data); 
  // })
/*
      $.ajax({
          url: '/hellojsonp',
          dataType: 'jsonp',
          callback:jsonpCallback,
          success: function(data){
              console.log(data);
          }
      });
*/
      $.ajax({
          url: '/hellojsonp?callback=?',
          dataType: 'jsonp',
          success: function(data){
              console.log(data);
          }
      });   
  });
  
    function jsonpCallback(data){
      alert('yay')
  }

  
 </script>
</body>
</html>
